<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>a1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{19,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,54}}</string>
                <key>sourceSize</key>
                <string>{19,54}</string>
            </dict>
            <key>a1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>a1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>a1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{19,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,54}}</string>
                <key>sourceSize</key>
                <string>{19,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a.png</string>
            <key>size</key>
            <string>{176,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77ade88050ff922025f97b7585af8407$</string>
            <key>textureFileName</key>
            <string>a.png</string>
        </dict>
    </dict>
</plist>
