<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{33,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,165}}</string>
                <key>sourceSize</key>
                <string>{33,165}</string>
            </dict>
            <key>bullet11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{103,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,213}}</string>
                <key>sourceSize</key>
                <string>{103,213}</string>
            </dict>
            <key>bullet11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,281}}</string>
                <key>sourceSize</key>
                <string>{195,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet1.png</string>
            <key>size</key>
            <string>{390,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba861cf286fcfe306fa32b6ed410c336$</string>
            <key>textureFileName</key>
            <string>bullet1.png</string>
        </dict>
    </dict>
</plist>
