<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p031_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
            <key>p031_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,0},{53,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,87}}</string>
                <key>sourceSize</key>
                <string>{53,87}</string>
            </dict>
            <key>p031_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{78,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>p031_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
              <key>p031_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{54,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,87}}</string>
                <key>sourceSize</key>
                <string>{54,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p03.png</string>
            <key>size</key>
            <string>{325,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c2736cf1530d5a6898abdb14cb319c2$</string>
            <key>textureFileName</key>
            <string>p03.png</string>
        </dict>
    </dict>
</plist>
