<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wingplane_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{39,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>wingplane_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>wingplane_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,42},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>wingplane_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,82},{38,68}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{38,68}}</string>
                <key>sourceSize</key>
                <string>{64,136}</string>
            </dict>
            <key>wingplane_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,90}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{38,90}}</string>
                <key>sourceSize</key>
                <string>{64,136}</string>
            </dict>
            <key>wingplane_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{38,88}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,88}}</string>
                <key>sourceSize</key>
                <string>{58,128}</string>
            </dict>
            <key>wingplane_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{48,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,128}}</string>
                <key>sourceSize</key>
                <string>{58,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wingplane.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9de58e43f0488bc1fa2002c2c1574b6c$</string>
            <key>textureFileName</key>
            <string>wingplane.png</string>
        </dict>
    </dict>
</plist>
